.footer {
  padding: 30px 0;
  background-color: $color-dark;
}

.footer-inner {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-max) {
    flex-direction: column-reverse;
  }
}

.copyright {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  color: $color-ligth;

  @media (max-width: $mobile-max) {
    margin-top: 10px;
  }
}
