.form {
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
  margin: 40px auto 0;

  @media (max-width: $tablet-max) {
    width: initial;
    margin-left: -$grid-gap-half;
    margin-right: -$grid-gap-half;
  }
}

.form-field {
  width: 100%;
  margin-top: 30px;
  padding: 0 $grid-gap-half;
}

.form-field-half {
  width: 50%;

  @media (max-width: $mobile-max) {
    width: 100%;
  }
}

.form-input {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  line-height: 27px;
  background-color: $color-ligth;
  border-radius: 8px;
  border: none;
}

.form-textarea {
  width: 100%;
  height: 170px;
  padding: 20px;
  font-size: 20px;
  line-height: 27px;
  background-color: $color-ligth;
  border-radius: 8px;
  border: none;
  resize: vertical;
}
