.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 26px 0;
  background-color: $color-dark;
  color: $color-ligth;

  @media (max-width: $mobile-max) {
    padding: 12px 0;
  }
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.main-logo {
  margin-right: auto;
  font-family: $font-ral;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  color: inherit;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 42px;
  }

  @media (max-width: $mobile-max) {
    font-size: 24px;
    line-height: 28px;
  }
}

.header-phone {
  margin-left: 100px;
  font-size: 24px;
  line-height: 33px;
  color: inherit;
  text-decoration: none;

  @media (max-width: $mobile-max) {
    display: none;
  }
}
