.menu {
  @media (min-width: $desktop) {
    display: block !important;
  }

  @media (max-width: $tablet-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid $color-ligth;
    background-color: $color-dark;
  }

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: $tablet-max) {
      justify-content: center;
    }

    @media (max-width: $mobile-max) {
      display: block;
    }
  }

  li {
    margin-left: 30px;

    @media (max-width: $mobile-max) {
      text-align: center;
      margin: 20px 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    font-size: 24px;
    line-height: 33px;
    color: $color-ligth;
    text-decoration: none;

    &.active,
    &:hover {
      color: $color-accent;
    }
  }
}
