.order {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: rgba($color-ligth, .2);

  @media (max-width: $mobile-max) {
    padding: 70px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 50px 0;
  }
}

.order-inner {
  @include container;
}

.order-title {
  @include section-title;
}
