.promo {
  padding: 140px 0;
  background-color: rgba($color-ligth, .2);
}

.promo-inner {
  @include container;
}

.promo-wrap {
  display: flex;
  flex-wrap: wrap;
}

.promo-info {
  flex-basis: 50%;
  padding-right: $grid-gap-half;
}

.promo-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $font-ral;
  font-weight: 300;
  font-size: 116px;
  line-height: 136px;
  color: $color-accent;
}

.promo-text {
  margin-bottom: 70px;
  font-size: 32px;
  line-height: 44px;
  color: $color-accent;
}

.promo-visual {
  flex-basis: 50%;
  padding-left: $grid-gap-half;
}

.promo-visual-wrap {
  position: relative;
}

.promo-visual-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  color: $color-ligth;
  background-color: rgba($color-dark, .7);
}
