* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 95px;
  font-family: $font-open;

  @media (max-width: $mobile-max) {
    padding-top: 54px;
  }
}

img {
  display: block;
  max-width: 100%;
}
