// Colors
$color-dark: #152B3C;
$color-ligth: #FBF2DA;
$color-accent: #D46240;


// Indents
$grid-gap: 30px;
$grid-gap-half: calc($grid-gap / 2);


// Шрифты
$font-ral: 'Raleway', sans-serif;
$font-open: 'Open Sans', sans-serif;
